<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.nsu.ru/fit/protlang/pl4j/Pl4j" 
       class = "ru.nsu.fit.protlang.pl4j.pl4j.Pl4jPackage"
       genModel = "model/generated/Pl4j.genmodel" /> 
	
  </extension>



</plugin>
